# 1. Find Index Labels for min/max:**

               (a) label = df['col1'].idxmin()
               (b) label = df['col1'].idxmax()
               (c) df.nlargest(n,col_name)
               (d) df.nsmallest(n,col_name)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Student_Responses.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              31 non-null     object
 1   NAME                   31 non-null     object
 2   BATCH NUMBER           31 non-null     int64
 3   HOMETOWN               31 non-null     object
 4   HIGHEST QUALIFICATION  31 non-null     object
 5   FIELD OF STUDY         31 non-null     object
 6   COURSE REGISTERED      31 non-null     object
 7   IT EXPERIENCE          31 non-null     int64
 8   SALARY EXPECTATIONS    31 non-null     object
dtypes: int64(2), object(7)
memory usage: 2.3+ KB

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Timestamp, NAME, BATCH NUMBER, HOMETOWN, HIGHEST QUALIFICATION, FIELD OF STUDY, COURSE REGISTERED, IT EXPERIENCE, SALARY EXPECTATIONS]
Index: []

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
dtype: bool

In [ ]:
df['IT EXPERIENCE'].min()

0

In [ ]:
df['IT EXPERIENCE'].idxmin()

0

In [ ]:
df

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
df['IT EXPERIENCE'].max()

6

In [ ]:
df['IT EXPERIENCE'].idxmax()

1

In [ ]:
df.nlargest(3,'IT EXPERIENCE')

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA

In [ ]:
df.nsmallest(5,'IT EXPERIENCE')

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA

## Filtering Rows from a DataFrame
### Way 1
We can select the rows by using slicing operation.
### Syntax: df[ starting_row_index : ending_row_index : step ]

### Way 2
Similar to numpy Pandas can accept boolean indexes.
To select rows based on a conditional expression, use a condition inside the selection brackets [].
### Syntax: df[ CONDITION ]
- df[ df["maximum temperature"] > 95 ]
- df[df['date'].isin(['10-5-2016', '10-4-2016', '10-6-2016'])]
- df[ (df['date']=='10-5-2016') |
    (df['date']=='10-4-2016') |
    (df['date']=='10-6-2016')
  ]

In [ ]:
df[1:5]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA

In [ ]:
df[0::2]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
df[df['FIELD OF STUDY']=='Computer Science']

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa

In [ ]:
df['FIELD OF STUDY']=='Computer Science'

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: FIELD OF STUDY, dtype: bool

In [ ]:
df[df['HOMETOWN']=='Hyderabad']

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA

In [ ]:
df[df['IT EXPERIENCE']==6]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards

In [ ]:
df[df['IT EXPERIENCE']==0]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
df[df['IT EXPERIENCE']==0].shape

(27, 9)

In [ ]:
df[df['IT EXPERIENCE']==0].shape[0]

27

In [ ]:
df[df['IT EXPERIENCE']==0].shape[1]

9

In [ ]:
df[df['IT EXPERIENCE']==0].count()

Timestamp                27
NAME                     27
BATCH NUMBER             27
HOMETOWN                 27
HIGHEST QUALIFICATION    27
FIELD OF STUDY           27
COURSE REGISTERED        27
IT EXPERIENCE            27
SALARY EXPECTATIONS      27
dtype: int64

In [ ]:
df[df['FIELD OF STUDY']=='Computer Science']['NAME']

1               Chithari Ravi
12    vishnu Durga doddipatla
Name: NAME, dtype: object

In [ ]:
# Find only names of students whose IT Experience is >=2
df[df['IT EXPERIENCE']>=2]['NAME']

1             Chithari Ravi
21    MANTRI VAMSHI KRISHNA
29            Mahesh kuamar
Name: NAME, dtype: object

In [ ]:
df[df['IT EXPERIENCE']>=2][['NAME','IT EXPERIENCE','BATCH NUMBER']]

                     NAME  IT EXPERIENCE  BATCH NUMBER
1           Chithari Ravi              6           397
21  MANTRI VAMSHI KRISHNA              4           396
29          Mahesh kuamar              2           396

In [ ]:
df[(df['BATCH NUMBER']==397) & (df['HOMETOWN']=='Hyderabad')][['NAME','HOMETOWN','BATCH NUMBER']]

                  NAME   HOMETOWN  BATCH NUMBER
1        Chithari Ravi  Hyderabad           397
6   Chelikani Harshini  Hyderabad           397
16  Chelikani Harshini  Hyderabad           397

In [ ]:
df['HOMETOWN'].unique()

array(['Kamareddy', 'Hyderabad', 'Siddipet ', 'Vijayawada ', 'BHONGIR',
       'HYDERABAD', 'Amalapuram', 'nellore',
       'Andhra pradesh,Prakasam(dist),Darsi', 'MADHIRA', 'kakinada',
       'Amravati,Maharashtra', 'Narasaraopeta ', 'kirandul',
       'RAMAYAPATNAM IN AP', 'Hanamkonda ', 'Sangareddy', 'Rajamundry',
       'HYDERABAD ', 'Warangal', 'Karimnagar ',
       'Rajampet,Annamayya district,Andhra Pradesh', 'mupkal, nizamabad',
       'Hyderabad ', 'Guntur', 'Kodad'], dtype=object)

In [ ]:
df[df['HOMETOWN'].isin(['Hyderabad','HYDERABAD','HYDERABAD ','Hyderabad '])]['NAME']

1             Chithari Ravi
5            D SAI SHREYAS
6        Chelikani Harshini
9           Chiluka Suvarna
16       Chelikani Harshini
21    MANTRI VAMSHI KRISHNA
23            SAI SHREYAS D
28                      sai
Name: NAME, dtype: object

In [ ]:
df[df['NAME']=='Chelikani Harshini']# returns records where value is true

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA

In [ ]:
df['NAME']=='Chelikani Harshini' # only true or false value is returned for all rows

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: NAME, dtype: bool

In [ ]:
df.columns

Index(['Timestamp', 'NAME', 'BATCH NUMBER', 'HOMETOWN',
       'HIGHEST QUALIFICATION', 'FIELD OF STUDY', 'COURSE REGISTERED',
       'IT EXPERIENCE', 'SALARY EXPECTATIONS'],
      dtype='object')

# # What if I want a slice of 1 to 4 rows and 2 to 4 cols

In [ ]:
df[1:5][0]

KeyError: 0

##  How to resolve this? 
In case, you want a subset of both rows and columns in one go, just using selection brackets [] is not sufficient anymore.
Here loc/iloc operators are required in front of the selection brackets []. When using loc/iloc, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

## Syntax:
- df.loc[row_label, col_label]
- df.iloc[row_index, col_index]

In [ ]:
# Row number 4
df.loc[4]     # index base access

Timestamp                6/27/2025 9:03:50
NAME                           VAMPU MANAS
BATCH NUMBER                           397
HOMETOWN                           BHONGIR
HIGHEST QUALIFICATION                BTECH
FIELD OF STUDY                         ECE
COURSE REGISTERED             Data Science
IT EXPERIENCE                            0
SALARY EXPECTATIONS                  5 LPA
Name: 4, dtype: object

In [ ]:
df.loc[1:4]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA

In [ ]:
df.loc[1:4,'NAME'] # only one column, column label can be written

1     Chithari Ravi
2    Ajay Erumalla
3       Rushikanth
4       VAMPU MANAS
Name: NAME, dtype: object

In [ ]:
df.loc[1:4,['NAME','BATCH NUMBER']]

             NAME  BATCH NUMBER
1   Chithari Ravi           397
2  Ajay Erumalla            397
3     Rushikanth            396
4     VAMPU MANAS           397

In [ ]:
df.loc[1:4,'NAME':'COURSE REGISTERED']

,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED
1,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science
2,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science
3,Rushikanth,396,Vijayawada,Btech,ECE,Data Science
4,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science

In [ ]:
df.loc[1:4,2] # column index not allowed, only column label can be written

KeyError: 2

In [ ]:
df.iloc[1:4,2]

1    397
2    397
3    396
Name: BATCH NUMBER, dtype: int64

In [ ]:
df.iloc[1:4,2:5]

   BATCH NUMBER     HOMETOWN HIGHEST QUALIFICATION
1           397    Hyderabad                 Btech
2           397    Siddipet                 B.Tech
3           396  Vijayawada                 Btech

In [ ]:
df.columns

Index(['Timestamp', 'NAME', 'BATCH NUMBER', 'HOMETOWN',
       'HIGHEST QUALIFICATION', 'FIELD OF STUDY', 'COURSE REGISTERED',
       'IT EXPERIENCE', 'SALARY EXPECTATIONS'],
      dtype='object')

####  Accessing rows based on a condition
- df.loc[CONDITION , col_lables ]

####  Accessing rows based on multiple condition
df.loc[ (COND_1) & (COND_2) | (COND_3) , col_lables ]

### condition based accessing without loc

In [ ]:
df[df['FIELD OF STUDY']=='Computer Science']['NAME']

1               Chithari Ravi
12    vishnu Durga doddipatla
Name: NAME, dtype: object

In [ ]:
df.loc[df['FIELD OF STUDY']=='Computer Science','NAME']

1               Chithari Ravi
12    vishnu Durga doddipatla
Name: NAME, dtype: object

# Multiple Conditions without using loc

In [ ]:
# all columns are visible for thos record
df[(df['BATCH NUMBER']==396) & (df['HOMETOWN']=='Hyderabad')]

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa

In [ ]:
# for the same record we want only Name column to be displayed
df[(df['BATCH NUMBER']==396) & (df['HOMETOWN']=='Hyderabad')]['NAME']

9    Chiluka Suvarna
Name: NAME, dtype: object

In [ ]:
# Another way: for the same record we want only Name column to be displayed
df.loc[(df['BATCH NUMBER']==396)&(df['HOMETOWN']=='Hyderabad'),'NAME']

9    Chiluka Suvarna
Name: NAME, dtype: object

In [ ]:
# for the same record we want Name and Highest Qualifications columns to be displayed
df.loc[(df['BATCH NUMBER']==396)&(df['HOMETOWN']=='Hyderabad'),['NAME','HIGHEST QUALIFICATION']]

              NAME HIGHEST QUALIFICATION
9  Chiluka Suvarna                B.Tech