# **Create dataframes from List or Dictionary**

In [ ]:
# create a list 'data'
data = [[1,'Neha','Mgr'],[2,'Nisha','Programmer'],[3,'Saloni','Clerk'],[4,'Amit','Tester']]

In [ ]:
data

[[1, 'Neha', 'Mgr'],
 [2, 'Nisha', 'Programmer'],
 [3, 'Saloni', 'Clerk'],
 [4, 'Amit', 'Tester']]

In [ ]:
# Create dataframe from List
import pandas as pd
df1 = pd.DataFrame(data)

In [ ]:
df1

   0       1           2
0  1    Neha         Mgr
1  2   Nisha  Programmer
2  3  Saloni       Clerk
3  4    Amit      Tester

In [ ]:
# Add column names
df2 = pd.DataFrame(data,columns=['Eid','Ename','Job'])

In [ ]:
df2

   Eid   Ename         Job
0    1    Neha         Mgr
1    2   Nisha  Programmer
2    3  Saloni       Clerk
3    4    Amit      Tester

In [ ]:
# Add row names
df3 = pd.DataFrame(data,columns=['Eid','Ename','Job'],index=['E1','E2','E3','E4'])

In [ ]:
df3

    Eid   Ename         Job
E1    1    Neha         Mgr
E2    2   Nisha  Programmer
E3    3  Saloni       Clerk
E4    4    Amit      Tester

In [ ]:
# Create a Dictionary 'data'
data = {
    'Eid':[100,200,300],
    'Ename':['Disha','Manali','Reva'],
    'Job':['Mgr','Programmer','HR']
}

In [ ]:
# Create dataframe from Dictionary
df4 = pd.DataFrame(data)

In [ ]:
df4

   Eid   Ename         Job
0  100   Disha         Mgr
1  200  Manali  Programmer
2  300    Reva          HR

In [ ]:
# We can add row names also

df4 = pd.DataFrame(data,index=['E1','E2','E3'])

In [ ]:
df4

    Eid   Ename         Job
E1  100   Disha         Mgr
E2  200  Manali  Programmer
E3  300    Reva          HR

# **Loading Data From External Files:**


Various File Formats:

1.   **CSV (Comma-Separated Values)**
                  
                  (a) Read: pd.read_csv("file.csv")
                  (b) Write: df.to_csv("file.csv", index=False)

2.   **Excel (.xlsx, .xls)**

                  (a) Read: pd.read_excel("file.xlsx", sheet_name="Sheet1")
                  (b) Write: df.to_excel("file.xlsx", index=False, sheet_name="Sheet1")
                  (c) Requires openpyxl (for .xlsx) or xlrd (for .xls)
                
3.   **JSON (JavaScript Object Notation)**

                  (a) Read: pd.read_json("file.json")
                  (b) Write: df.to_json("file.json", orient="records")
                
4.   **XML (Extensible Markup Language)**

                  (a) Read: pd.read_xml("data.xml", xpath=".//record")
                  (b) Write: df.to_xml("output.xml", index=False)

5.   **SQL Databases**

                  (a) Read: pd.read_sql("SELECT * FROM table", con=connection)
                  (b) Write: df.to_sql("table", con=connection, if_exists="replace")

6.   **Other File Formats**

                  (a) Parquet (Efficient Binary Format)
                                Read: pd.read_parquet("file.parquet")
                                Write: df.to_parquet("file.parquet")
                  (b) HDF5 (Hierarchical Data Format)
                                Read: pd.read_hdf("file.h5", key="df")
                                Write: df.to_hdf("file.h5", key="df", mode="w")
                  (c) Feather (Optimized for Speed)
                                Read: pd.read_feather("file.feather")
                                Write: df.to_feather("file.feather")
                  (d) ORC (Optimized Row Columnar)
                                Read: pd.read_orc("file.orc")
                                Write: df.to_orc("file.orc")
                  (e) Clipboard (Copy-Paste)
                                Read: pd.read_clipboard()
                                Write: df.to_clipboard()
                  (f) Pickle (Python Serialized Format)
                                Read: pd.read_pickle("file.pkl")
                                Write: df.to_pickle("file.pkl")


**CSV and Excel** are common for general users, **Parquet and Feather** are best for performance, **HDF5 and ORC** are useful for large datasets, and **Pickle** is great for saving Python objects.

In [ ]:
import pandas as pd

# **Loading Data From CSV File:**

In [ ]:
df=pd.read_csv('/content/Water_Quality.csv')
df.shape

(3276, 10)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [ ]:
df.tail()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [ ]:
df.head(7)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0

In [ ]:
df.tail(2)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

# **Loading Data From Excel File:**

In [ ]:
# No need to execute this code
import openpyxl # .xlsx
import xlrd     # .xls

In [ ]:
# No need to execute this code
pip install openpyxl  # to install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [ ]:
# No need to execute this code
pip install xlrd  # to install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
# Loading Data From Excel File
df=pd.read_excel('Iris.xlsx')
df.shape

(150, 6)

In [ ]:
# Let us load Data from Second Excel Sheets
df1=pd.read_excel("Iris.xlsx",sheet_name=0) #sheet_name=0 is the sheet at index 0, try sheet_name=1
# df1=pd.read_excel("Iris.xlsx",sheet_name="Cost of Hire")
df1.shape

(150, 6)

In [ ]:
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# Let us Load Data from Second Sheet using Index.
df11=pd.read_excel("Iris.xlsx",sheet_name="new")
df11.shape

(10, 6)

In [ ]:
# Let us Load all Files
all=pd.read_excel("Iris.xlsx",sheet_name=None)
# sheet_name=None means read ALL sheets from the Excel file
# all becomes a dictionary
# Keys  sheet names
# Values  pandas DataFrames

#df2=all["new"]  # new is name of 2nd sheet
df2=all["Iris"] # Here, Iris is name of 1st sheet
df2.shape

(150, 6)

In [ ]:
df3=all["new"] # new is the sheet name
df3.shape

(10, 6)

In [ ]:
# Reading Specific Number of Rows from Excel Sheet
df4=pd.read_excel("Iris.xlsx",nrows=25)
df4.shape

(25, 6)

In [ ]:
# Loading Required Number of Rows from a Specific Sheet
df5=pd.read_excel("Iris.xlsx",sheet_name="new",nrows=5)
df5.shape

(5, 6)

# **Loading Data From JSON File:**

In [ ]:
df = pd.read_json("sample1.json", lines=True)
# lines=True: Each line = one separate JSON object. there are 2 rows i.e. 2 lines in sample1.json file
print(df)
df.shape

   fruit    size   color
0  Apple   Large     Red
1  Mango  Medium  Yellow

(2, 3)

In [ ]:
df.T.head() # transpose the dataframe

           0       1
fruit  Apple   Mango
size   Large  Medium
color    Red  Yellow

In [ ]:
# Json Normalization
from pandas import json_normalize

# Example nested JSON data
data = {
    "name": "MSD",
    "info": {"age": 40, "city": "CSK"}
}

# Flattening the JSON data
df = json_normalize(data)
print(df)

  name  info.age info.city
0  MSD        40       CSK