# **Numpy Part - 03:**

1.   insert(), append(), and delete()
2.   Array Shape Manipulations:


        *   reshape()
        *   ravel(), flatten()
        *   transpose()
3.   Iterating array using np.nditer()
4.   Array Concatenation.
5.   Array Splitting.
6.   Array Sorting.
8.   Numpy *"Where"*.

## Insert
`np.insert` allows you to insert values into an array at a specified index. The function returns a new array and does not modify the original array in place.\
**syntax**\
np.insert(arr, obj, values, axis=None)
- arr: Input array.
- obj: Index before which the values are inserted.
- values: Values to insert into arr.
- axis: Axis along which to insert. If none, the array will be flattened first.

In [ ]:
import numpy as np

In [ ]:
# np.insert():Insert values along the given axis before the given indices.
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,4,99) # Here axis is not given
# If axis is NOT given:
# NumPy flattens the array first. So 2D array becomes 1D array.
# new element is inserted at given index
# try any index: 0 to 6
print(y)

[[1 2 3]
 [4 5 6]]


[ 1  2  3  4 99  5  6]

In [ ]:
# inserting new row in existing array:
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,0,99,axis=0)# row
print(y)

[[1 2 3]
 [4 5 6]]


[[99 99 99]
 [ 1  2  3]
 [ 4  5  6]]

In [ ]:
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,2,99,axis=1) # column
print(y)

[[1 2 3]
 [4 5 6]]


[[ 1  2 99  3]
 [ 4  5 99  6]]

In [ ]:
# adding multiple elements to 2D array
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,0,[99,101,201]) # axis is not given
print(y)

[[1 2 3]
 [4 5 6]]


[ 99 101 201   1   2   3   4   5   6]

In [ ]:
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,0,[99,101,201],axis=0) # row
print(y)

[[1 2 3]
 [4 5 6]]


[[ 99 101 201]
 [  1   2   3]
 [  4   5   6]]

In [ ]:
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.insert(x,1,[101,201],axis=1) # column
print(y)

[[1 2 3]
 [4 5 6]]


[[  1 101   2   3]
 [  4 201   5   6]]

# **append()**

In [ ]:
# np.append()
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.append(x,99)
print(y)

[[1 2 3]
 [4 5 6]]


[ 1  2  3  4  5  6 99]

In [ ]:
# appending new row in an existing 2D array.
x=np.array([[1,2,3],[4,5,6]])
print(x)
print('\n')
y=np.append(x,[[99,99,99]],axis=0) # axis = 0 ROW
print(y)

[[1 2 3]
 [4 5 6]]


[[ 1  2  3]
 [ 4  5  6]
 [99 99 99]]

In [ ]:
# appending new column in an existing 2D array.
x=np.array([[1,2,3],[4,5,6]])
print(x)
y=np.append(x,[[99],[101]],axis=1) # need to pass new column as 2D, not as a single list as in insert
print("\n")
print(y)

[[1 2 3]
 [4 5 6]]


[[  1   2   3  99]
 [  4   5   6 101]]

# **delete()**

In [1]:
import numpy as np
# np.delete():
# deleting a row
arr=np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(arr)
print("\n")
newarr=np.delete(arr, 2, axis=0)# row
print(newarr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]


[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
# deleting a column
arr=np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(arr)
print("\n")
newarr=np.delete(arr, 2, axis=1)# column
print(newarr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]


[[ 1  2  4]
 [ 5  6  8]
 [ 9 10 12]]

# **reshape()**

In [ ]:
# Reshape():Gives a new shape to an array without changing its data.
import numpy as np
arr=np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(arr)
print("\n")
newarr=arr.reshape(2,6) #other possibilities (3,4),(4,3),(6,2)
print(newarr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]


[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

In [ ]:
# reshaping of 1D array:
arr=np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(arr)
print("\n")
newarr=arr.reshape(4,3) # try other combinations
print(newarr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]


[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In Numpy, the ravel() and flatten() functions both produce a flattened copy of an array, but they differ in how they do so:

**ravel():**
Returns a view of the original array, and is often faster and more memory-efficient than flatten(). However, changes to the raveled array may also change the original array because it's a view of the same data.

**flatten():**
Creates a new, independent copy of the original array, and is a safer choice if a contiguous array is needed. Changes to the flattened array don't affect the original array. flatten() is a function of an ndarray object, so it can only be used with legitimate numpy arrays.

# **ravel()**

In [ ]:
# ravel(): Return a contiguous flattened array.
arr=np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(arr)
print("\n")
newarr=arr.ravel()
print(newarr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]


[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
arr=np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(arr)
print("\n")
newarr=np.ravel(arr)
print(newarr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]


[ 1  2  3  4  5  6  7  8  9 10 11 12]

# **flatten()**

In [ ]:
# flatten(): Return a copy of the array collapsed into one dimension.
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
y=x.flatten()
print(y)

[[1 2 3]
 [4 5 6]]


[1 2 3 4 5 6]

# **transpose(): rows to columns and columns to rows**

In [2]:
# transpose():
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
y=np.transpose(x)
print(y)

[[1 2 3]
 [4 5 6]]


[[1 4]
 [2 5]
 [3 6]]

In [ ]:
# another way to transpose
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
y=x.T
print(y)

[[1 2 3]
 [4 5 6]]


[[1 4]
 [2 5]
 [3 6]]

# **np.nditer():**
Efficient multi-dimensional iterator object to iterate over arrays.

In [3]:
# np.nditer():
import numpy as np
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
for i in np.nditer(x):
  print(i)

[[1 2 3]
 [4 5 6]]


1
2
3
4
5
6

In [4]:
# To print squares of all elements of an array
# np.nditer():
import numpy as np
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
for i in np.nditer(x):
  print(i*i)

[[1 2 3]
 [4 5 6]]


1
4
9
16
25
36

In [ ]:
# Iterating an array with slicing.
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
for i in np.nditer(x[1:2,0:3]): # iterating in 1st row only
  print(i)

[[1 2 3]
 [4 5 6]]


4
5
6

In [ ]:
# Iterating using np.diag()
x=np.eye(3)
print(x)
print("\n")
for i in np.nditer(np.diag(x)):
  print(i)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]


1.0
1.0
1.0

In [ ]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x)
print("\n")
for i in np.nditer(np.diag(x,-1)):
  print(i)

[[1 2 3]
 [4 5 6]
 [7 8 9]]


4
8

# **Arrays Join Operations:**
1. concatenate():
2. vstack():
3. hstack():
4. column_stack():

In [5]:
# concatenate():
x=np.array([[1,2,3],[4,5,6]])
y=np.array([[7,8,9],[10,11,12]])
print(x)
print("\n")
print(y)
z=np.concatenate((x,y))# by default axis=0 ROW-wise
print("\n")
print(z)

[[1 2 3]
 [4 5 6]]


[[ 7  8  9]
 [10 11 12]]


[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [6]:
x=np.array([[1,2,3],[4,5,6]])
y=np.array([[7,8,9],[10,11,12]])
print(x)
print('\n')
print(y)
print('\n')
z=np.concatenate((x,y),axis=0) # by default axis=0 ROW-wise
print(z)

[[1 2 3]
 [4 5 6]]


[[ 7  8  9]
 [10 11 12]]


[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [7]:
x=np.array([[1,2,3],[4,5,6]])
y=np.array([[7,8,9],[10,11,12]])
print(x)
print('\n')
print(y)
print('\n')
z=np.concatenate((x,y),axis=1)
print(z)

[[1 2 3]
 [4 5 6]]


[[ 7  8  9]
 [10 11 12]]


[[ 1  2  3  7  8  9]
 [ 4  5  6 10 11 12]]

In [10]:
# vstack():
x=np.array([1,2,3])
y=np.array([4,5,6])
z=np.vstack((y,x))
print(z)

[[4 5 6]
 [1 2 3]]

In [9]:
# hstack():
x=np.array([1,2,3])
y=np.array([4,5,6])
z=np.hstack((y,x))
print(z)

[4 5 6 1 2 3]

In [11]:
# column_stack(): Take a sequence of 1-D arrays and stack them
#                 as columns to make a single 2-D array.
x=np.array([1,2,3])
y=np.array([4,5,6])
z=np.column_stack((x,y))
print(z)

[[1 4]
 [2 5]
 [3 6]]

In [ ]:
# create a 5,5 array using column stack.

# **Splitting of Arrays:**

1.   hsplit():split horizontally (by columns) (equal division)
2.   vsplit():split vertically (by rows) (equal division)

In [14]:
import numpy as np
# hsplit():
x=np.array([[1,2,3,4],[4,5,6,8]])
print(x)
print("\n")
y=np.hsplit(x,2) # split horizontally (by columns)
print(y)

[[1 2 3 4]
 [4 5 6 8]]


[array([[1, 2],
       [4, 5]]), array([[3, 4],
       [6, 8]])]

In [15]:
# vsplit():
x=np.array([[1,2,3],[4,5,6]])
print(x)
print("\n")
y=np.vsplit(x,2) # split vertically (by rows)
print(y)

[[1 2 3]
 [4 5 6]]


[array([[1, 2, 3]]), array([[4, 5, 6]])]

In [17]:
# splitting of 1D array
# np.array_split(array, indices_or_sections)
# np.array_split(x,[2,4]) # here cut points are at index 2 and index 4
# number of arrays = number of cut points + 1

import numpy as np
x=np.array([1,2,3,4,5,6])
print(x)
print("\n")
y1,y2,y3=np.array_split(x,[2,4]) # here cut points are index 2 and index 4
print(y1)
print(y2)
print(y3)

[1 2 3 4 5 6]


[1 2]
[3 4]
[5 6]

In [ ]:
y1,y2,y3=np.array_split(x,[1,4]) # here cut points are index 2 and index 4
print(y1)
print(y2)
print(y3)

In [21]:
y1,y2=np.array_split(x,[3]) # here cut points are index 2 and index 4
print(y1)
print(y2)

[1 2 3]
[4 5 6]

In [22]:
x=np.array([1,2,3,4,5,6])
print(x)
print("\n")
y1,y2,y3,y4=np.array_split(x,[1,2,4]) # 3 cuts 4 arrays
print(y1)
print(y2)
print(y3)
print (y4)

[1 2 3 4 5 6]


[1]
[2]
[3 4]
[5 6]

In [23]:
# splitting of 1D array
import numpy as np
x=np.array([1,2,3,4,5,6])
print(x)
print("\n")
y1,y2,y3=np.array_split(x,[1,4]) # 2 cuts = 3 arrays
print(y1)
print(y2)
print(y3)

[1 2 3 4 5 6]


[1]
[2 3 4]
[5 6]

# **Array Sorting:**


1.   sort():
2.   argsort():

In [ ]:
# sort():
x=np.array([[10,-2,3],[4,15,-6]])
print(x)
print("\n")
y=np.sort(x) # by default axis=1, Row wise sorting
print(y)

[[10 -2  3]
 [ 4 15 -6]]


[[-2  3 10]
 [-6  4 15]]

In [24]:
x=np.array([[10,-2,3],[4,15,-6]])
print(x)
print("\n")
y=np.sort(x,axis=0) # sorts each column
print(y)

[[10 -2  3]
 [ 4 15 -6]]


[[ 4 -2 -6]
 [10 15  3]]

In [25]:
x=np.array([[10,-2,3],[4,15,-6]])
print(x)
print("\n")
y=np.sort(x,axis=1)
print(y)

[[10 -2  3]
 [ 4 15 -6]]


[[-2  3 10]
 [-6  4 15]]

In [27]:
# argsort():
"""Perform an indirect sort along the given axis using the algorithm specified
 by the kind keyword. It returns an array of indices of the same shape as a
 that index data along the given axis in sorted order. """

# kind ---> {‘quicksort’, ‘mergesort’, ‘heapsort’, ‘stable’}

x=np.array([[10,-2,3],[4,15,-6]])
print(x)
print("\n")
y=np.argsort(x,axis=1,kind="mergesort")
print(y)
# check indexes of [10=0 -2=1 3=2]
# output is 1 2 0. i.e. -2 3 10 which is sorted

[[10 -2  3]
 [ 4 15 -6]]


[[1 2 0]
 [2 0 1]]

# **Broadcasting Arrays:**
The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations. Subject to certain constraints, the smaller array is “broadcast” across the larger array so that they have compatible shapes.

When operating on two arrays, NumPy compares their shapes element-wise. It starts with the trailing (i.e. rightmost) dimension and works its way left. Two dimensions are compatible when

  1. they are equal, or

  2. one of them is 1.

In [28]:
# broadcasting in 1D arrays
x=np.arange(5)
print(x)
print(x+10)
# when single 10 value is added to the array of 5 elements,
# internally one more array is generated i.e. [10 10 10 10 10]
# then these equal sized arrays are added element wise
# This is called broadcasting - our array is expanded to your requirement

[0 1 2 3 4]
[10 11 12 13 14]

In [29]:
# Broadcasting with different shapes
a=np.array([[1, 2, 3], [4, 5, 6]]) # 2D: 2 X 3 array
b=np.array([10, 20, 30]) # 1D: 1 X 3 array
# Here it checkes for common column, if yes broadcasting is done
# otherwise broadcasting will be done whichever are equal-wise
# in this example 1 x 3 and 2 x 3, 3 is common, 3 represents column
# 1D b array will become 2D arry [[10 20 30], [10 20 30]]
# Then addition will be performed
result=a+b
print(result)

[[11 22 33]
 [14 25 36]]

In [30]:
# fail case of array broadcasting as no. of columns are not equal.
# if no. of rows only are equal, error will be raised
A=np.array([[1, 2, 3], [4, 5, 6]])
print(A)
print('\n')
B=np.array([10, 20])
print(B)
print(A+B)
# The above code results in an Error.

[[1 2 3]
 [4 5 6]]


[10 20]

ValueError: operands could not be broadcast together with shapes (2,3) (2,)

# **numpy.where():**
Return elements chosen from x or y depending on condition.

In [32]:
# np.where(condition,true_output,false_output):
# check every element of array display whether it is odd or even
x=np.array([1,2,3,4,5,6])
print(x)
print("\n")
y=np.where(x%2==0,"even","odd")
print(y)

[1 2 3 4 5 6]


['odd' 'even' 'odd' 'even' 'odd' 'even']

In [33]:
# np.where():
# display square of even numbers and cube of odd numbers
x=np.array([1,2,3,4,5,6])
print(x)
print("\n")
y=np.where(x%2==0,x**2,x**3)
print(y)

[1 2 3 4 5 6]


[  1   4  27  16 125  36]

In [35]:
import numpy as np
a=np.array([10, 20, 30, 40, 50])
i=np.where(a>25) # i will contain index values
print(i)
print(a[i]) # printing elements at index i

(array([2, 3, 4]),)
[30 40 50]

In [36]:
a=np.array([10, 20, 30, 40, 50])
i=np.where((a>15) & (a<45))
print(i)
print(a[i])

(array([1, 2, 3]),)
[20 30 40]

In [37]:
# with 2D arrays:
import numpy as np
m=np.array([[1, 2, 4], [4, 5, 6]])
print(m)
print('\n')
i=np.where(m>3) # returns row index and column index where condition is true
print(i)
print(type(i))
print(m[i]) # elements at index i (0 2)=4,(1 0)=4, (1 1)=5, (1 2)=6

[[1 2 4]
 [4 5 6]]


(array([0, 1, 1, 1]), array([2, 0, 1, 2]))
<class 'tuple'>
[4 4 5 6]

In above example
numpy pairs row and column indices where m>3 condition is satisfied

so we got 2 arrays row[0,1,1,1] and column[2,0,1,2]

1st element from row 0 and column 2, (0 2) indicates 4 which is >3 and so on for elements 4,5,6

![image.png]()