# **Column Wise Operations in Data Frame:**


1.   Getting Column Index/Label
2.   Changing Column Labels
3.   Selecting Columns
4.   Adding New Columns to Data Frame
5.   Swapping the Columns
6.   Dropping / Deleting Columns
7.   Vectorized Arithmetic Operations on Columns
8.   Applying Numpy Math Functions to a Column
9.   Setting Column Values Based on Criteria
10.  Data Type Conversions of a Column
11.  Statistical Function and Math Functions on Columns
12.  Finding Index Labels for min/max values
13.  Special Methods

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Student_Responses.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              31 non-null     object
 1   NAME                   31 non-null     object
 2   BATCH NUMBER           31 non-null     int64
 3   HOMETOWN               31 non-null     object
 4   HIGHEST QUALIFICATION  31 non-null     object
 5   FIELD OF STUDY         31 non-null     object
 6   COURSE REGISTERED      31 non-null     object
 7   IT EXPERIENCE          31 non-null     int64
 8   SALARY EXPECTATIONS    31 non-null     object
dtypes: int64(2), object(7)
memory usage: 2.3+ KB

In [ ]:
df

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
df.columns

Index(['Timestamp', 'NAME', 'BATCH NUMBER', 'HOMETOWN',
       'HIGHEST QUALIFICATION', 'FIELD OF STUDY', 'COURSE REGISTERED',
       'IT EXPERIENCE', 'SALARY EXPECTATIONS'],
      dtype='object')

In [ ]:
df.columns.to_list()

['Timestamp',
 'NAME',
 'BATCH NUMBER',
 'HOMETOWN',
 'HIGHEST QUALIFICATION',
 'FIELD OF STUDY',
 'COURSE REGISTERED',
 'IT EXPERIENCE',
 'SALARY EXPECTATIONS']

In [ ]:
# strip(): It removes whitespace (spaces, tabs, newline) from the beginning and end of a string.
cols = [col.strip().lower().replace(' ','_').replace('-','_') for col in df.columns]

In [ ]:
cols

['timestamp',
 'name',
 'batch_number',
 'hometown',
 'highest_qualification',
 'field_of_study',
 'course_registered',
 'it_experience',
 'salary_expectations']

In [ ]:
df.columns

Index(['Timestamp', 'NAME', 'BATCH NUMBER', 'HOMETOWN',
       'HIGHEST QUALIFICATION', 'FIELD OF STUDY', 'COURSE REGISTERED',
       'IT EXPERIENCE', 'SALARY EXPECTATIONS'],
      dtype='object')

In [ ]:
df.columns = cols

In [ ]:
df.columns

Index(['timestamp', 'name', 'batch_number', 'hometown',
       'highest_qualification', 'field_of_study', 'course_registered',
       'it_experience', 'salary_expectations'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              31 non-null     object
 1   name                   31 non-null     object
 2   batch_number           31 non-null     int64
 3   hometown               31 non-null     object
 4   highest_qualification  31 non-null     object
 5   field_of_study         31 non-null     object
 6   course_registered      31 non-null     object
 7   it_experience          31 non-null     int64
 8   salary_expectations    31 non-null     object
dtypes: int64(2), object(7)
memory usage: 2.3+ KB

In [ ]:
# Find out column wise unique values
for i in df:
    print("*"*10,i,"*"*10)
    print(df[i].unique())

********** timestamp **********
['6/27/2025 9:03:07' '6/27/2025 9:03:25' '6/27/2025 9:03:32'
 '6/27/2025 9:03:45' '6/27/2025 9:03:50' '6/27/2025 9:04:10'
 '6/27/2025 9:04:47' '6/27/2025 9:05:20' '6/27/2025 9:05:44'
 '6/27/2025 9:05:46' '6/27/2025 9:05:50' '6/27/2025 9:06:07'
 '6/27/2025 9:06:29' '6/27/2025 9:06:31' '6/27/2025 9:06:44'
 '6/27/2025 9:06:59' '6/27/2025 9:07:28' '6/27/2025 9:07:40'
 '6/27/2025 9:07:56' '6/27/2025 9:08:04' '6/27/2025 9:08:15'
 '6/27/2025 9:08:19' '6/27/2025 9:08:50' '6/27/2025 9:09:02'
 '6/27/2025 9:09:25' '6/27/2025 9:09:56' '6/27/2025 9:10:01'
 '6/27/2025 9:10:08' '6/27/2025 9:10:30' '6/27/2025 9:10:45'
 '6/27/2025 9:11:03']
********** name **********
['Ashruth' 'Chithari Ravi' 'Ajay Erumalla ' 'Rushikanth ' 'VAMPU MANAS'
 'D SAI SHREYAS ' 'Chelikani Harshini' 'Yedeedya Injeti'
 'venkatesh nalagarla' 'Chiluka Suvarna' 'Reddymasu Teja'
 'KARLAPATI VENKATA JAYAVARDHAN' 'vishnu Durga doddipatla' 'Priya Dakhore'
 'M.Abhilash Naik ' 'mayank kumar singh' 'MANDE UDAY SHANKAR'
 'Akurala Harshitha' 'Kattela Harshitha' 'Naga Srinu Kala'
 'MANTRI VAMSHI KRISHNA' 'Nishith T' 'SAI SHREYAS D' 'k uday kiran'
 'ETYALA MAHESH ' 'Nagineni Tejaswini' 'Sravani Errolla' 'sai'
 'Mahesh kuamar' 'JETTI PRANITHA ']
********** batch_number **********
[396 397]
********** hometown **********
['Kamareddy' 'Hyderabad' 'Siddipet ' 'Vijayawada ' 'BHONGIR' 'HYDERABAD'
 'Amalapuram' 'nellore' 'Andhra pradesh,Prakasam(dist),Darsi' 'MADHIRA'
 'kakinada' 'Amravati,Maharashtra' 'Narasaraopeta ' 'kirandul'
 'RAMAYAPATNAM IN AP' 'Hanamkonda ' 'Sangareddy' 'Rajamundry' 'HYDERABAD '
 'Warangal' 'Karimnagar ' 'Rajampet,Annamayya district,Andhra Pradesh'
 'mupkal, nizamabad' 'Hyderabad ' 'Guntur' 'Kodad']
********** highest_qualification **********
['Under graduate' 'Btech' 'B.Tech' 'Btech ' 'BTECH' 'B.TECH' 'BTech' 'MCA'
 'B-Tech' 'DEGREE' 'B.tech' 'Bachelors Degree' 'BTech '
 'b.com in buisness analytics' 'B.sc' 'MBA' 'bsc(meiot)'
 'bachelor of degree' 'b.tech']
********** field_of_study **********
['Computer science engineering' 'Computer Science'
 'Computer Science and Engineering ' 'ECE' 'INFORMATION TECHNOLOGY'
 'Computer Science and Engineering' 'CSE' 'computer science'
 'computer science & engineering' 'BA.PROGRAMME' 'Information Technology'
 'EEE' 'commerce' 'DATA SCIENCE' 'Data Science '
 'Computer Science and Data Science' 'B.sc Computer science '
 'MBA Finance' 'COMPUTER SCIENCE AND ENGINEERING '
 'INFORMATION TECHNOLOGY ' 'no' 'Mining '
 'Computer Science and Artificial Intelligence' 'information technology '
 'Computer Science and DataScience ']
********** course_registered **********
['Data Science']
********** it_experience **********
[0 6 1 4 2]
********** salary_expectations **********
['4-6' 'As per the market standards' '5 - 6 LPA' '4 lpa' '5 LPA' '6 LPA'
 '5LPA' '5-6' '5-6 lpa' '6 lpa' '8 LPA' '5 lpa' '7lpa' '5 to 6 LPA'
 '5-8lpa' '5-6 LPA' '6 lakhs' '2500000' '10-12' '44 LPA' '5lp' '5-6lpa'
 '10 LPA Basic' '25 lpa' '10LPA']

# **items()**: It loops column by column.
# **iterrows()**: It loops row by row.

In [ ]:
# items(): It loops column by column.
# Each iteration gives:
# (column_name, column_data_as_series)
# In simple words items() says: Give me one entire column at a time.

for col_name, col_data in df.items():
    print("Column:", col_name)
    print(col_data.head())
    print("----")

Column: timestamp
0    6/27/2025 9:03:07
1    6/27/2025 9:03:25
2    6/27/2025 9:03:32
3    6/27/2025 9:03:45
4    6/27/2025 9:03:50
Name: timestamp, dtype: object
----
Column: name
0           Ashruth
1     Chithari Ravi
2    Ajay Erumalla
3       Rushikanth
4       VAMPU MANAS
Name: name, dtype: object
----
Column: batch_number
0    396
1    397
2    397
3    396
4    397
Name: batch_number, dtype: int64
----
Column: hometown
0      Kamareddy
1      Hyderabad
2      Siddipet
3    Vijayawada
4        BHONGIR
Name: hometown, dtype: object
----
Column: highest_qualification
0    Under graduate
1             Btech
2            B.Tech
3            Btech
4             BTECH
Name: highest_qualification, dtype: object
----
Column: field_of_study
0         Computer science engineering
1                     Computer Science
2    Computer Science and Engineering
3                                  ECE
4                                  ECE
Name: field_of_study, dtype: object
----
Column: course_registered
0    Data Science
1    Data Science
2    Data Science
3    Data Science
4    Data Science
Name: course_registered, dtype: object
----
Column: it_experience
0    0
1    6
2    0
3    0
4    0
Name: it_experience, dtype: int64
----
Column: salary_expectations
0                            4-6
1    As per the market standards
2                      5 - 6 LPA
3                          4 lpa
4                          5 LPA
Name: salary_expectations, dtype: object
----

In [ ]:
df

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
# iterrows(): It loops row by row
# Each iteration gives:
# (index, row_data_as_series)
# In simple words iterrows() says: Give me one student record at a time.

for index, row in df.iterrows():
    print("Index:", index)
    print("Name:", row['name'])
    print("IT Experience:", row['it_experience'])
    print("Salary:", row['salary_expectations'])
    print("----")

Index: 0
Name: Ashruth
IT Experience: 0
Salary: 4-6
----
Index: 1
Name: Chithari Ravi
IT Experience: 6
Salary: As per the market standards
----
Index: 2
Name: Ajay Erumalla
IT Experience: 0
Salary: 5 - 6 LPA
----
Index: 3
Name: Rushikanth
IT Experience: 0
Salary: 4 lpa
----
Index: 4
Name: VAMPU MANAS
IT Experience: 0
Salary: 5 LPA
----
Index: 5
Name: D SAI SHREYAS
IT Experience: 0
Salary: 6 LPA
----
Index: 6
Name: Chelikani Harshini
IT Experience: 0
Salary: 5LPA
----
Index: 7
Name: Yedeedya Injeti
IT Experience: 0
Salary: 5-6
----
Index: 8
Name: venkatesh nalagarla
IT Experience: 0
Salary: 5-6 lpa
----
Index: 9
Name: Chiluka Suvarna
IT Experience: 0
Salary: 6 lpa
----
Index: 10
Name: Reddymasu Teja
IT Experience: 0
Salary: 8 LPA
----
Index: 11
Name: KARLAPATI VENKATA JAYAVARDHAN
IT Experience: 0
Salary: 8 LPA
----
Index: 12
Name: vishnu Durga doddipatla
IT Experience: 0
Salary: 5 lpa
----
Index: 13
Name: Priya Dakhore
IT Experience: 1
Salary: 7lpa
----
Index: 14
Name: M.Abhilash Naik
IT Experience: 0
Salary: 5 to 6 LPA
----
Index: 15
Name: mayank kumar singh
IT Experience: 0
Salary: 5-8lpa
----
Index: 16
Name: Chelikani Harshini
IT Experience: 0
Salary: 5LPA
----
Index: 17
Name: MANDE UDAY SHANKAR
IT Experience: 0
Salary: 8 LPA
----
Index: 18
Name: Akurala Harshitha
IT Experience: 0
Salary: 5-6 LPA
----
Index: 19
Name: Kattela Harshitha
IT Experience: 0
Salary: 6 lakhs
----
Index: 20
Name: Naga Srinu Kala
IT Experience: 0
Salary: 5 - 6 LPA
----
Index: 21
Name: MANTRI VAMSHI KRISHNA
IT Experience: 4
Salary: 2500000
----
Index: 22
Name: Nishith T
IT Experience: 0
Salary: 10-12
----
Index: 23
Name: SAI SHREYAS D
IT Experience: 0
Salary: 44 LPA
----
Index: 24
Name: k uday kiran
IT Experience: 0
Salary: 5lp
----
Index: 25
Name: ETYALA MAHESH
IT Experience: 0
Salary: 6 lpa
----
Index: 26
Name: Nagineni Tejaswini
IT Experience: 0
Salary: 5-6lpa
----
Index: 27
Name: Sravani Errolla
IT Experience: 0
Salary: 10 LPA Basic
----
Index: 28
Name: sai
IT Experience: 0
Salary: 25 lpa
----
Index: 29
Name: Mahesh kuamar
IT Experience: 2
Salary: 10LPA
----
Index: 30
Name: JETTI PRANITHA
IT Experience: 0
Salary: 6 LPA
----

# **1. Getting Column Index/Label:**

            (a) idx = df.columns         # get col index
            (b) label = df.columns[0]    # first col label
            (c) l = df.columns.tolist()  # list of col labels
            (d) a = df.columns.values    # array of col labels

In [ ]:
# Code Here
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards

In [ ]:
df.columns[8]

'salary_expectations'

In [ ]:
df.columns[-1]

'salary_expectations'

In [ ]:
df.columns[:3]

Index(['timestamp', 'name', 'batch_number'], dtype='object')

In [ ]:
df.columns.to_list()

['timestamp',
 'name',
 'batch_number',
 'hometown',
 'highest_qualification',
 'field_of_study',
 'course_registered',
 'it_experience',
 'salary_expectations']

In [ ]:
df.columns.values

array(['timestamp', 'name', 'batch_number', 'hometown',
       'highest_qualification', 'field_of_study', 'course_registered',
       'it_experience', 'salary_expectations'], dtype=object)

# **2. Changing Column Labels:**

            (a) df = df.rename(columns={'old':'new','a':'1'})
            (b) df.columns = ['new1', 'new2', 'new3']           # etc.

In [ ]:
# Code Here
df = df.rename(columns={'name':'full_name'})

In [ ]:
df.head()

,timestamp,full_name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA

In [ ]:
# chage full_name to NAME again
df = df.rename(columns={'full_name':'name'})

In [ ]:
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              31 non-null     object
 1   name                   31 non-null     object
 2   batch_number           31 non-null     int64
 3   hometown               31 non-null     object
 4   highest_qualification  31 non-null     object
 5   field_of_study         31 non-null     object
 6   course_registered      31 non-null     object
 7   it_experience          31 non-null     int64
 8   salary_expectations    31 non-null     object
dtypes: int64(2), object(7)
memory usage: 2.3+ KB

# **3. Selecting Columns:**

              (a) s = df['colName'] # select col to Series
              (b) df = df[['colName']] # select col to df
              (c) df = df[['a','b']] # select 2-plus cols
              (d) df = df[['c','a','b']] # change col order
              (e) s = df[df.columns[0]] # select by number
              (f) df = df[df.columns[[0, 3, 4]]] # by numbers
              (g) df = [df.columns[:-1]] # all but last col
              (h) s = df.a # same as s = df['a']
              (i) df.existing_column = df.a / df.b
              (j) df['new_column'] = df.a / df.b

In [ ]:
# Code Here
df['name']     # series

0                           Ashruth
1                     Chithari Ravi
2                    Ajay Erumalla
3                       Rushikanth
4                       VAMPU MANAS
5                    D SAI SHREYAS
6                Chelikani Harshini
7                   Yedeedya Injeti
8               venkatesh nalagarla
9                   Chiluka Suvarna
10                   Reddymasu Teja
11    KARLAPATI VENKATA JAYAVARDHAN
12          vishnu Durga doddipatla
13                    Priya Dakhore
14                 M.Abhilash Naik
15               mayank kumar singh
16               Chelikani Harshini
17               MANDE UDAY SHANKAR
18                Akurala Harshitha
19                Kattela Harshitha
20                  Naga Srinu Kala
21            MANTRI VAMSHI KRISHNA
22                        Nishith T
23                    SAI SHREYAS D
24                     k uday kiran
25                   ETYALA MAHESH
26               Nagineni Tejaswini
27                  Sravani Errolla
28                              sai
29                    Mahesh kuamar
30                  JETTI PRANITHA
Name: name, dtype: object

In [ ]:
df[['name','batch_number','timestamp']].head()

             name  batch_number          timestamp
0         Ashruth           396  6/27/2025 9:03:07
1   Chithari Ravi           397  6/27/2025 9:03:25
2  Ajay Erumalla            397  6/27/2025 9:03:32
3     Rushikanth            396  6/27/2025 9:03:45
4     VAMPU MANAS           397  6/27/2025 9:03:50

In [ ]:
df.columns[1]

'name'

In [ ]:
df[df.columns[1]].head() # try changing index of column

0           Ashruth
1     Chithari Ravi
2    Ajay Erumalla
3       Rushikanth
4       VAMPU MANAS
Name: name, dtype: object

In [ ]:
df[df.columns[[0,3,4]]].head()  # selected index

           timestamp     hometown highest_qualification
0  6/27/2025 9:03:07    Kamareddy        Under graduate
1  6/27/2025 9:03:25    Hyderabad                 Btech
2  6/27/2025 9:03:32    Siddipet                 B.Tech
3  6/27/2025 9:03:45  Vijayawada                 Btech
4  6/27/2025 9:03:50      BHONGIR                 BTECH

In [ ]:
df[df.columns[0:3]].head()

           timestamp            name  batch_number
0  6/27/2025 9:03:07         Ashruth           396
1  6/27/2025 9:03:25   Chithari Ravi           397
2  6/27/2025 9:03:32  Ajay Erumalla            397
3  6/27/2025 9:03:45     Rushikanth            396
4  6/27/2025 9:03:50     VAMPU MANAS           397

In [ ]:
df.columns[0]

'timestamp'

In [ ]:
df.name

0                           Ashruth
1                     Chithari Ravi
2                    Ajay Erumalla
3                       Rushikanth
4                       VAMPU MANAS
5                    D SAI SHREYAS
6                Chelikani Harshini
7                   Yedeedya Injeti
8               venkatesh nalagarla
9                   Chiluka Suvarna
10                   Reddymasu Teja
11    KARLAPATI VENKATA JAYAVARDHAN
12          vishnu Durga doddipatla
13                    Priya Dakhore
14                 M.Abhilash Naik
15               mayank kumar singh
16               Chelikani Harshini
17               MANDE UDAY SHANKAR
18                Akurala Harshitha
19                Kattela Harshitha
20                  Naga Srinu Kala
21            MANTRI VAMSHI KRISHNA
22                        Nishith T
23                    SAI SHREYAS D
24                     k uday kiran
25                   ETYALA MAHESH
26               Nagineni Tejaswini
27                  Sravani Errolla
28                              sai
29                    Mahesh kuamar
30                  JETTI PRANITHA
Name: name, dtype: object

# **4. Adding New Column to a Data Frame:**

              (a) df['new_col'] = range(len(df))
              (b) df['new_col'] = np.repeat(np.nan,len(df))
              (c) df['random'] = np.random.rand(len(df))
              (d) df['index_as_col'] = df.index
              (e) df1[['b','c']] = df2[['e','f']]

In [ ]:
df['Index'] = range(len(df))

In [ ]:
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,Index
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,1

In [ ]:
df['a_column'] = np.repeat('a',len(df))

In [ ]:
df.head(10)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,Index,a_column
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0,a
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,1,a
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,2,a
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,3,a
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,4,a
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA,5,a
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,6,a
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6,7,a
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa,8,a
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa,9,a

In [ ]:
df['random_numbers'] = np.random.rand(len(df))

In [ ]:
df

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,Index,a_column,random_numbers
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0,a,0.604298
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,1,a,0.654341
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,2,a,0.249048
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,3,a,0.349640
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,4,a,0.017394
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA,5,a,0.064007
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,6,a,0.472427
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6,7,a,0.377727
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa,8,a,0.819053
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa,9,a,0.934662
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA,10,a,0.107232
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA,11,a,0.034583
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa,12,a,0.323659
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa,13,a,0.344849
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA,14,a,0.608125
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa,15,a,0.731020
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,16,a,0.697090
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA,17,a,0.117584
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA,18,a,0.216078
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs,19,a,0.009852
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA,20,a,0.069056
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000,21,a,0.486651
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12,22,a,0.420715
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA,23,a,0.935495
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp,24,a,0.126598
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa,25,a,0.160862
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa,26,a,0.418475
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic,27,a,0.109041
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa,28,a,0.476030
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA,29,a,0.520006
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA,30,a,0.079452

# **6. Dropping or Deleting Columns:**

            
              (a) df = df.drop('col1', axis=1)
              (b) df.drop('col1', axis=1, inplace=True)
              (c) df = df.drop(['col1','col2'], axis=1)
              (c) s = df.pop('col') # drops from frame
              (d) del df['col'] # even classic python works
              (e) df = df.drop(df.columns[0], axis=1)#first
              (f) df = df.drop(df.columns[-1:],axis=1)#last

In [ ]:
# code here
df.pop('Index') # removes a column

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
Name: Index, dtype: int64

In [ ]:
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,a_column,random_numbers
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,a,0.604298
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,a,0.654341

In [ ]:
df.drop('random_numbers',axis=1) # no permanent changes

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,a_column
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,a
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,a
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,a
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,a
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,a
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA,a
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,a
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6,a
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa,a
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa,a
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA,a
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA,a
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa,a
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa,a
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA,a
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa,a
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,a
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA,a
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA,a
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs,a
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA,a
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000,a
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12,a
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA,a
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp,a
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa,a
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa,a
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic,a
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa,a
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA,a
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA,a

In [ ]:
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,a_column,random_numbers
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,a,0.604298
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,a,0.654341

In [ ]:
df.drop('random_numbers',axis=1,inplace=True) # permanent change

In [ ]:
df.head(2)

,timestamp,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,a_column
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,a
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,a

In [ ]:
df.drop(['a_column','timestamp'],axis=1,inplace=True)

In [ ]:
df.head(2)

,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations
0,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards

In [ ]:
df.columns

Index(['name', 'batch_number', 'hometown', 'highest_qualification',
       'field_of_study', 'course_registered', 'it_experience',
       'salary_expectations'],
      dtype='object')

# **7. Vectorized Arithmetic Operations:**

              (a) df['proportion']=df['count']/df['total']
              (b) df['percent'] = df['proportion'] * 100.0

In [ ]:
# code here
df['fake_exp'] = df['it_experience'] * 2

In [ ]:
df.head(10)

,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,fake_exp
0,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0
1,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,12
2,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,0
3,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,0
4,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,0
5,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA,0
6,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,0
7,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6,0
8,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa,0
9,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa,0

# **8. Apply Numpy Math Functions:**

              (a) df['log_data'] = np.log(df['col1'])

# syntax
df['new_col_name'] = operation(df['old_col_name'])

In [ ]:
import numpy as np
df['AVG_IT_EXPERIENCE'] = np.average(df['it_experience'])

In [ ]:
df

,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,fake_exp,AVG_IT_EXPERIENCE
0,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0,0.419355
1,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,12,0.419355
2,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,0,0.419355
3,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,0,0.419355
4,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,0,0.419355
5,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA,0,0.419355
6,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,0,0.419355
7,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6,0,0.419355
8,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa,0,0.419355
9,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa,0,0.419355
10,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA,0,0.419355
11,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA,0,0.419355
12,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa,0,0.419355
13,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa,2,0.419355
14,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA,0,0.419355
15,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa,0,0.419355
16,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA,0,0.419355
17,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA,0,0.419355
18,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA,0,0.419355
19,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs,0,0.419355
20,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA,0,0.419355
21,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000,8,0.419355
22,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12,0,0.419355
23,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA,0,0.419355
24,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp,0,0.419355
25,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa,0,0.419355
26,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa,0,0.419355
27,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic,0,0.419355
28,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa,0,0.419355
29,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA,4,0.419355
30,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA,0,0.419355

# **9. Setting Column Values Based on Criteria:**

              (a) df['b'] = df['a'].where(df['a']>0, other=0)
              (b) df['d'] = df['a'].where(df.b!=0, other=df.c)

In [ ]:
# code here
df['experienced_cand'] = df['it_experience'].where(df['it_experience']>0, other = 'Not Experienced')

In [ ]:
df.head(5)

,name,batch_number,hometown,highest_qualification,field_of_study,course_registered,it_experience,salary_expectations,fake_exp,AVG_IT_EXPERIENCE,experienced_cand
0,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6,0,0.419355,Not Experienced
1,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards,12,0.419355,6
2,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA,0,0.419355,Not Experienced
3,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa,0,0.419355,Not Experienced
4,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA,0,0.419355,Not Experienced

# **10. DataType Conversion of a Column:**

              (a) st = df['col'].astype(str)# Series dtype
              (b) a = df['col'].values # numpy array
              (c) l = df['col'].tolist() # python list

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   31 non-null     object
 1   batch_number           31 non-null     int64
 2   hometown               31 non-null     object
 3   highest_qualification  31 non-null     object
 4   field_of_study         31 non-null     object
 5   course_registered      31 non-null     object
 6   it_experience          31 non-null     int64
 7   salary_expectations    31 non-null     object
 8   fake_exp               31 non-null     int64
 9   AVG_IT_EXPERIENCE      31 non-null     float64
 10  experienced_cand       31 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.8+ KB

In [ ]:
df['it_experience']=df['it_experience'].astype('str')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   31 non-null     object
 1   batch_number           31 non-null     int64
 2   hometown               31 non-null     object
 3   highest_qualification  31 non-null     object
 4   field_of_study         31 non-null     object
 5   course_registered      31 non-null     object
 6   it_experience          31 non-null     object
 7   salary_expectations    31 non-null     object
 8   fake_exp               31 non-null     int64
 9   AVG_IT_EXPERIENCE      31 non-null     float64
 10  experienced_cand       31 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 2.8+ KB

In [ ]:
df['it_experience'].dtype

dtype('O')

In [ ]:
df['batch_number'].dtype

dtype('int64')

In [ ]:
df['batch_number'].size

31

In [ ]:
df['it_experience'].count()

np.int64(31)

In [ ]:
df['it_experience']=df['it_experience'].astype('int')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   31 non-null     object
 1   batch_number           31 non-null     int64
 2   hometown               31 non-null     object
 3   highest_qualification  31 non-null     object
 4   field_of_study         31 non-null     object
 5   course_registered      31 non-null     object
 6   it_experience          31 non-null     int64
 7   salary_expectations    31 non-null     object
 8   fake_exp               31 non-null     int64
 9   AVG_IT_EXPERIENCE      31 non-null     float64
 10  experienced_cand       31 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.8+ KB

# **11. Statistical and Math Functions:**

              (a) value = df['col'].dtype # type of data
              (b) value = df['col'].size # col dimensions
              (c) value = df['col'].count() # non-NA count
              (d) value = df['col'].sum()
              (e) value = df['col'].prod()
              (f) value = df['col'].min()
              (g) value = df['col'].max()
              (h) value = df['col'].mean() # also median()
              (i) value = df['col'].cov(df['col2'])# covariance between 2 columns
              (j) s = df['col'].describe()
              (k) s = df['col'].value_counts()

              s = df['col'].isnull()
              s = df['col'].isna()
              s = df['col'].notnull() # not isnull()
              s = df['col'].astype(float)
              s = df['col'].abs()
              s = df['col'].round(decimals=0)
              s = df['col'].diff()
              s = df['col'].fillna(0) # replace NaN w 0

In [ ]:
df['batch_number'].isnull().sum()

np.int64(0)

In [ ]:
df['batch_number'].isna().sum()

np.int64(0)

In [ ]:
df['batch_number'].notnull().sum()

np.int64(31)

In [ ]:
df = pd.DataFrame({
    'col': [12.36, 23.39, np.nan, 61.92, 10.00]
})

print(df)

     col
0  12.36
1  23.39
2    NaN
3  61.92
4  10.00

In [ ]:
df.isnull().sum()

col    1
dtype: int64

In [ ]:
s = df['col'].round(decimals=0)
print(s)

0    12.0
1    23.0
2     NaN
3    62.0
4    10.0
Name: col, dtype: float64

In [ ]:
s = df['col'].round(decimals=1)
print(s)

0    12.4
1    23.4
2     NaN
3    61.9
4    10.0
Name: col, dtype: float64

In [ ]:
s = df['col'].fillna(0)
print(s)

0    12.36
1    23.39
2     0.00
3    61.92
4    10.00
Name: col, dtype: float64

# **12. Find Index Labels for min/max:**

               (a) label = df['col1'].idxmin()
               (b) label = df['col1'].idxmax()
               (c) df.nlargest(n,col_name)
               (d) df.nsmallest(n,col_name)

In [ ]:
df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D', 'E'],
    'col1': [45, 12, 78, 30, 60]
})

print(df)

  name  col1
0    A    45
1    B    12
2    C    78
3    D    30
4    E    60

In [ ]:
# idxmin(): Returns the index label where the minimum value occurs
label = df['col1'].idxmin()
print(label)

1

In [ ]:
# idxmax(): Returns the index label where the maximum value occurs
label = df['col1'].idxmax()
print(label)

2

In [ ]:
# nlargest(): Returns top n rows with largest values in a column,
# output is a dataframe
top_n = df.nlargest(3, 'col1')
print(top_n)

  name  col1
2    C    78
4    E    60
0    A    45

In [ ]:
# nsmallest(): Returns top n rows with smallest values in a column
bottom_n = df.nsmallest(2, 'col1')
print(bottom_n)

  name  col1
1    B    12
3    D    30

# **Working With Categorical Data Columns:**

            (a) nunique(): gives count of unique categories
            (b) unique():  gives names of unique categories
            (c) value_counts(): gives frequency(count) of all categories
            (d) mode(): gives most frequent category.

In [ ]:
df = pd.read_csv('/content/Student_Responses.csv')
df

,Timestamp,NAME,BATCH NUMBER,HOMETOWN,HIGHEST QUALIFICATION,FIELD OF STUDY,COURSE REGISTERED,IT EXPERIENCE,SALARY EXPECTATIONS
0,6/27/2025 9:03:07,Ashruth,396,Kamareddy,Under graduate,Computer science engineering,Data Science,0,4-6
1,6/27/2025 9:03:25,Chithari Ravi,397,Hyderabad,Btech,Computer Science,Data Science,6,As per the market standards
2,6/27/2025 9:03:32,Ajay Erumalla,397,Siddipet,B.Tech,Computer Science and Engineering,Data Science,0,5 - 6 LPA
3,6/27/2025 9:03:45,Rushikanth,396,Vijayawada,Btech,ECE,Data Science,0,4 lpa
4,6/27/2025 9:03:50,VAMPU MANAS,397,BHONGIR,BTECH,ECE,Data Science,0,5 LPA
5,6/27/2025 9:04:10,D SAI SHREYAS,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,6 LPA
6,6/27/2025 9:04:47,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
7,6/27/2025 9:05:20,Yedeedya Injeti,397,Amalapuram,B.Tech,CSE,Data Science,0,5-6
8,6/27/2025 9:05:44,venkatesh nalagarla,397,nellore,MCA,computer science,Data Science,0,5-6 lpa
9,6/27/2025 9:05:46,Chiluka Suvarna,396,Hyderabad,B.Tech,computer science & engineering,Data Science,0,6 lpa
10,6/27/2025 9:05:50,Reddymasu Teja,396,"Andhra pradesh,Prakasam(dist),Darsi",B-Tech,CSE,Data Science,0,8 LPA
11,6/27/2025 9:06:07,KARLAPATI VENKATA JAYAVARDHAN,396,MADHIRA,DEGREE,BA.PROGRAMME,Data Science,0,8 LPA
12,6/27/2025 9:06:29,vishnu Durga doddipatla,396,kakinada,B.tech,Computer Science,Data Science,0,5 lpa
13,6/27/2025 9:06:31,Priya Dakhore,397,"Amravati,Maharashtra",Bachelors Degree,Information Technology,Data Science,1,7lpa
14,6/27/2025 9:06:44,M.Abhilash Naik,397,Narasaraopeta,BTech,EEE,Data Science,0,5 to 6 LPA
15,6/27/2025 9:06:59,mayank kumar singh,397,kirandul,b.com in buisness analytics,commerce,Data Science,0,5-8lpa
16,6/27/2025 9:07:28,Chelikani Harshini,397,Hyderabad,BTech,Computer Science and Engineering,Data Science,0,5LPA
17,6/27/2025 9:07:40,MANDE UDAY SHANKAR,396,RAMAYAPATNAM IN AP,B.TECH,DATA SCIENCE,Data Science,0,8 LPA
18,6/27/2025 9:07:56,Akurala Harshitha,397,Hanamkonda,B.Tech,Data Science,Data Science,0,5-6 LPA
19,6/27/2025 9:08:04,Kattela Harshitha,397,Sangareddy,BTech,Computer Science and Data Science,Data Science,0,6 lakhs
20,6/27/2025 9:08:15,Naga Srinu Kala,396,Rajamundry,B.sc,B.sc Computer science,Data Science,0,5 - 6 LPA
21,6/27/2025 9:08:19,MANTRI VAMSHI KRISHNA,396,HYDERABAD,MBA,MBA Finance,Data Science,4,2500000
22,6/27/2025 9:08:50,Nishith T,396,Warangal,BTECH,COMPUTER SCIENCE AND ENGINEERING,Data Science,0,10-12
23,6/27/2025 9:09:02,SAI SHREYAS D,396,HYDERABAD,B.TECH,INFORMATION TECHNOLOGY,Data Science,0,44 LPA
24,6/27/2025 9:09:25,k uday kiran,396,kakinada,bsc(meiot),no,Data Science,0,5lp
25,6/27/2025 9:09:56,ETYALA MAHESH,396,Karimnagar,B.tech,Mining,Data Science,0,6 lpa
26,6/27/2025 9:10:01,Nagineni Tejaswini,397,"Rajampet,Annamayya district,Andhra Pradesh",B.Tech,Computer Science and Artificial Intelligence,Data Science,0,5-6lpa
27,6/27/2025 9:10:08,Sravani Errolla,396,"mupkal, nizamabad",bachelor of degree,computer science,Data Science,0,10 LPA Basic
28,6/27/2025 9:10:30,sai,396,Hyderabad,b.tech,information technology,Data Science,0,25 lpa
29,6/27/2025 9:10:45,Mahesh kuamar,396,Guntur,Btech,CSE,Data Science,2,10LPA
30,6/27/2025 9:11:03,JETTI PRANITHA,397,Kodad,B.Tech,Computer Science and DataScience,Data Science,0,6 LPA

In [ ]:
df.columns

Index(['Timestamp', 'NAME', 'BATCH NUMBER', 'HOMETOWN',
       'HIGHEST QUALIFICATION', 'FIELD OF STUDY', 'COURSE REGISTERED',
       'IT EXPERIENCE', 'SALARY EXPECTATIONS'],
      dtype='object')

In [ ]:
df['BATCH NUMBER'].nunique()

2

In [ ]:
df['BATCH NUMBER'].unique()

array([396, 397])

In [ ]:
# code here
df['HIGHEST QUALIFICATION'].nunique()

19

In [ ]:
df['HIGHEST QUALIFICATION'].unique()

array(['Under graduate', 'Btech', 'B.Tech', 'Btech ', 'BTECH', 'B.TECH',
       'BTech', 'MCA', 'B-Tech', 'DEGREE', 'B.tech', 'Bachelors Degree',
       'BTech ', 'b.com in buisness analytics', 'B.sc', 'MBA',
       'bsc(meiot)', 'bachelor of degree', 'b.tech'], dtype=object)

In [ ]:
df['HIGHEST QUALIFICATION'].count()

np.int64(31)

In [ ]:
df['HIGHEST QUALIFICATION'].mode()

0    B.Tech
Name: HIGHEST QUALIFICATION, dtype: object

In [ ]:
df['HIGHEST QUALIFICATION'].value_counts()

HIGHEST QUALIFICATION
B.Tech                         6
B.TECH                         3
BTech                          3
BTECH                          2
Btech                          2
B.tech                         2
Under graduate                 1
Btech                          1
MCA                            1
B-Tech                         1
DEGREE                         1
Bachelors Degree               1
BTech                          1
b.com in buisness analytics    1
B.sc                           1
MBA                            1
bsc(meiot)                     1
bachelor of degree             1
b.tech                         1
Name: count, dtype: int64

##**Data Frame Utility Methods:**

            (a) df.copy()
            (b) df.rank()
            (c) df.sort_values(by=col) or by=[col1,col2]
            (d) df.sort_index()
            (e) df.reset_index()

# **Ranking Methods:**

| Method      | Description                                               | Example Ranks (for \[80, 95, 95, 70]) |
| ----------- | --------------------------------------------------------- | ------------------------------------- |
| `'average'` | (Default) Assign average of the ranks to tied values      | `[2.0, 3.5, 3.5, 1.0]`                |
| `'min'`     | Assign **lowest** possible rank to all tied values        | `[2.0, 3.0, 3.0, 1.0]`                |
| `'max'`     | Assign **highest** possible rank to all tied values       | `[2.0, 4.0, 4.0, 1.0]`                |
| `'first'`   | Assign ranks in the **order values appear**, even if tied | `[2.0, 3.0, 4.0, 1.0]`                |
| `'dense'`   | Like `min`, but ranks go up by 1 (no gaps)                | `[2.0, 3.0, 3.0, 1.0]`                |

In [ ]:
data = {
    'Eid':[100,200,300,110,120,210,220,220],
    'Ename':['Disha','Manali','Reva','Amit','Raj','Shahank','Saloni','Nisha'],
    'Job':['Mgr','Programmer','HR','Admin','Accounts','Sales','Sales','Programmer']
}
newdf = pd.DataFrame(data)
newdf

   Eid    Ename         Job
0  100    Disha         Mgr
1  200   Manali  Programmer
2  300     Reva          HR
3  110     Amit       Admin
4  120      Raj    Accounts
5  210  Shahank       Sales
6  220   Saloni       Sales
7  220    Nisha  Programmer

In [ ]:
# df.rank(): Assigns ranks to numeric values.
# For categorical values ranks are assigned alphabetically
# It ranks column-wise by default.
# If same values in a column for 2 or more rows it takes average
# So in Eid row 6 and 7 eid was 220. So rank is (6+7)/2=6.5
# same for categorical columns
newdf.rank()

   Eid  Ename  Job
0  1.0    2.0  4.0
1  4.0    3.0  5.5
2  8.0    6.0  3.0
3  2.0    1.0  2.0
4  3.0    5.0  1.0
5  5.0    8.0  7.5
6  6.5    7.0  7.5
7  6.5    4.0  5.5

In [ ]:
newdf['Eid'].rank(method='average')
# for rank() default argument is method='average'
# so got same result as rank()

0    1.0
1    4.0
2    8.0
3    2.0
4    3.0
5    5.0
6    6.5
7    6.5
Name: Eid, dtype: float64

In [ ]:
newdf['Eid'].rank(method='min')
# Duplicates get smallest rank.

0    1.0
1    4.0
2    8.0
3    2.0
4    3.0
5    5.0
6    6.0
7    6.0
Name: Eid, dtype: float64

In [ ]:
newdf['Eid'].rank(method='max')
# # Duplicates get highest rank.

0    1.0
1    4.0
2    8.0
3    2.0
4    3.0
5    5.0
6    7.0
7    7.0
Name: Eid, dtype: float64

In [ ]:
newdf['Eid'].rank(method='dense')
# No rank gaps

0    1.0
1    4.0
2    7.0
3    2.0
4    3.0
5    5.0
6    6.0
7    6.0
Name: Eid, dtype: float64

In [ ]:
newdf['Eid'].rank(method='first')
# Ranks assigned in order of appearance.

0    1.0
1    4.0
2    8.0
3    2.0
4    3.0
5    5.0
6    6.0
7    7.0
Name: Eid, dtype: float64

In [ ]:
newdf.sort_values(by='Eid')
# Sort rows based on column values.

   Eid    Ename         Job
0  100    Disha         Mgr
3  110     Amit       Admin
4  120      Raj    Accounts
1  200   Manali  Programmer
5  210  Shahank       Sales
6  220   Saloni       Sales
7  220    Nisha  Programmer
2  300     Reva          HR

In [ ]:
newdf.sort_values(by=['Job','Eid'])
# Sort by multiple columns

   Eid    Ename         Job
4  120      Raj    Accounts
3  110     Amit       Admin
2  300     Reva          HR
0  100    Disha         Mgr
1  200   Manali  Programmer
7  220    Nisha  Programmer
5  210  Shahank       Sales
6  220   Saloni       Sales

In [ ]:
# Sort based on index (row numbers).
shuffled = newdf.sort_values(by='Eid')
shuffled # indexes are shuffled here

   Eid    Ename         Job
0  100    Disha         Mgr
3  110     Amit       Admin
4  120      Raj    Accounts
1  200   Manali  Programmer
5  210  Shahank       Sales
6  220   Saloni       Sales
7  220    Nisha  Programmer
2  300     Reva          HR

In [ ]:
shuffled = shuffled.reset_index()
print(shuffled)

   index  Eid    Ename         Job
0      0  100    Disha         Mgr
1      3  110     Amit       Admin
2      4  120      Raj    Accounts
3      1  200   Manali  Programmer
4      5  210  Shahank       Sales
5      6  220   Saloni       Sales
6      7  220    Nisha  Programmer
7      2  300     Reva          HR

In [ ]:
shuffled.shape

(8, 4)

In [ ]:
shuffled = shuffled.drop(columns = 'index')
print(shuffled)

   Eid    Ename         Job
0  100    Disha         Mgr
1  110     Amit       Admin
2  120      Raj    Accounts
3  200   Manali  Programmer
4  210  Shahank       Sales
5  220   Saloni       Sales
6  220    Nisha  Programmer
7  300     Reva          HR

In [ ]:
shuffled.shape

(8, 3)

In [ ]:
df.sort_index(axis=1) # axis=1 column names are sorted alphabetically

,BATCH NUMBER,COURSE REGISTERED,FIELD OF STUDY,HIGHEST QUALIFICATION,HOMETOWN,IT EXPERIENCE,NAME,SALARY EXPECTATIONS,Timestamp
0,396,Data Science,Computer science engineering,Under graduate,Kamareddy,0,Ashruth,4-6,6/27/2025 9:03:07
1,397,Data Science,Computer Science,Btech,Hyderabad,6,Chithari Ravi,As per the market standards,6/27/2025 9:03:25
2,397,Data Science,Computer Science and Engineering,B.Tech,Siddipet,0,Ajay Erumalla,5 - 6 LPA,6/27/2025 9:03:32
3,396,Data Science,ECE,Btech,Vijayawada,0,Rushikanth,4 lpa,6/27/2025 9:03:45
4,397,Data Science,ECE,BTECH,BHONGIR,0,VAMPU MANAS,5 LPA,6/27/2025 9:03:50
5,396,Data Science,INFORMATION TECHNOLOGY,B.TECH,HYDERABAD,0,D SAI SHREYAS,6 LPA,6/27/2025 9:04:10
6,397,Data Science,Computer Science and Engineering,BTech,Hyderabad,0,Chelikani Harshini,5LPA,6/27/2025 9:04:47
7,397,Data Science,CSE,B.Tech,Amalapuram,0,Yedeedya Injeti,5-6,6/27/2025 9:05:20
8,397,Data Science,computer science,MCA,nellore,0,venkatesh nalagarla,5-6 lpa,6/27/2025 9:05:44
9,396,Data Science,computer science & engineering,B.Tech,Hyderabad,0,Chiluka Suvarna,6 lpa,6/27/2025 9:05:46
10,396,Data Science,CSE,B-Tech,"Andhra pradesh,Prakasam(dist),Darsi",0,Reddymasu Teja,8 LPA,6/27/2025 9:05:50
11,396,Data Science,BA.PROGRAMME,DEGREE,MADHIRA,0,KARLAPATI VENKATA JAYAVARDHAN,8 LPA,6/27/2025 9:06:07
12,396,Data Science,Computer Science,B.tech,kakinada,0,vishnu Durga doddipatla,5 lpa,6/27/2025 9:06:29
13,397,Data Science,Information Technology,Bachelors Degree,"Amravati,Maharashtra",1,Priya Dakhore,7lpa,6/27/2025 9:06:31
14,397,Data Science,EEE,BTech,Narasaraopeta,0,M.Abhilash Naik,5 to 6 LPA,6/27/2025 9:06:44
15,397,Data Science,commerce,b.com in buisness analytics,kirandul,0,mayank kumar singh,5-8lpa,6/27/2025 9:06:59
16,397,Data Science,Computer Science and Engineering,BTech,Hyderabad,0,Chelikani Harshini,5LPA,6/27/2025 9:07:28
17,396,Data Science,DATA SCIENCE,B.TECH,RAMAYAPATNAM IN AP,0,MANDE UDAY SHANKAR,8 LPA,6/27/2025 9:07:40
18,397,Data Science,Data Science,B.Tech,Hanamkonda,0,Akurala Harshitha,5-6 LPA,6/27/2025 9:07:56
19,397,Data Science,Computer Science and Data Science,BTech,Sangareddy,0,Kattela Harshitha,6 lakhs,6/27/2025 9:08:04
20,396,Data Science,B.sc Computer science,B.sc,Rajamundry,0,Naga Srinu Kala,5 - 6 LPA,6/27/2025 9:08:15
21,396,Data Science,MBA Finance,MBA,HYDERABAD,4,MANTRI VAMSHI KRISHNA,2500000,6/27/2025 9:08:19
22,396,Data Science,COMPUTER SCIENCE AND ENGINEERING,BTECH,Warangal,0,Nishith T,10-12,6/27/2025 9:08:50
23,396,Data Science,INFORMATION TECHNOLOGY,B.TECH,HYDERABAD,0,SAI SHREYAS D,44 LPA,6/27/2025 9:09:02
24,396,Data Science,no,bsc(meiot),kakinada,0,k uday kiran,5lp,6/27/2025 9:09:25
25,396,Data Science,Mining,B.tech,Karimnagar,0,ETYALA MAHESH,6 lpa,6/27/2025 9:09:56
26,397,Data Science,Computer Science and Artificial Intelligence,B.Tech,"Rajampet,Annamayya district,Andhra Pradesh",0,Nagineni Tejaswini,5-6lpa,6/27/2025 9:10:01
27,396,Data Science,computer science,bachelor of degree,"mupkal, nizamabad",0,Sravani Errolla,10 LPA Basic,6/27/2025 9:10:08
28,396,Data Science,information technology,b.tech,Hyderabad,0,sai,25 lpa,6/27/2025 9:10:30
29,396,Data Science,CSE,Btech,Guntur,2,Mahesh kuamar,10LPA,6/27/2025 9:10:45
30,397,Data Science,Computer Science and DataScience,B.Tech,Kodad,0,JETTI PRANITHA,6 LPA,6/27/2025 9:11:03