# Pandas DATE TIME

In [ ]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [ ]:

data = { "Car"   : ["BMW", "ALTO", "AUDI","MARUTI", "HONDA", "HYUNDAI", "FORD", "KIA"],
         "Color" : ["Red", "Yellow", "Black", "Green", "Black", "Red", "Black", "Black"],
         "Year"  : ["1990", "1980", "2003", "2000", "2001", "2004", "1999", "2020"],
         "Rating": ["2.5", "1.5", "3.8", "9.7", "8.9", "3.2", "5.5", "6.9"],
         "Date"  : ["30/04/2023", "31/08/1999", "28/12/2015", "29/06/2011",
                   "30/12/2020", "31/07/2013", "28/11/2000", "25/12/2020"]}
df = pd.DataFrame(data)
df.head()

      Car   Color  Year Rating        Date
0     BMW     Red  1990    2.5  30/04/2023
1    ALTO  Yellow  1980    1.5  31/08/1999
2    AUDI   Black  2003    3.8  28/12/2015
3  MARUTI   Green  2000    9.7  29/06/2011
4   HONDA   Black  2001    8.9  30/12/2020

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      object
dtypes: object(5)
memory usage: 452.0+ bytes

In [ ]:

# Reset the column Issue Date to be a datetime

df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 452.0+ bytes

In [ ]:
df["year"]=df["Date"].dt.year
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      datetime64[ns]
 5   year    8 non-null      int32
dtypes: datetime64[ns](1), int32(1), object(4)
memory usage: 484.0+ bytes

In [ ]:
df

       Car   Color  Year Rating       Date  year
0      BMW     Red  1990    2.5 2023-04-30  2023
1     ALTO  Yellow  1980    1.5 1999-08-31  1999
2     AUDI   Black  2003    3.8 2015-12-28  2015
3   MARUTI   Green  2000    9.7 2011-06-29  2011
4    HONDA   Black  2001    8.9 2020-12-30  2020
5  HYUNDAI     Red  2004    3.2 2013-07-31  2013
6     FORD   Black  1999    5.5 2000-11-28  2000
7      KIA   Black  2020    6.9 2020-12-25  2020

In [ ]:
# Let us convert the data type of year column
df["year"]=df["year"].astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      datetime64[ns]
 5   year    8 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 516.0+ bytes

In [ ]:
df

       Car   Color  Year Rating       Date    year
0      BMW     Red  1990    2.5 2023-04-30  2023.0
1     ALTO  Yellow  1980    1.5 1999-08-31  1999.0
2     AUDI   Black  2003    3.8 2015-12-28  2015.0
3   MARUTI   Green  2000    9.7 2011-06-29  2011.0
4    HONDA   Black  2001    8.9 2020-12-30  2020.0
5  HYUNDAI     Red  2004    3.2 2013-07-31  2013.0
6     FORD   Black  1999    5.5 2000-11-28  2000.0
7      KIA   Black  2020    6.9 2020-12-25  2020.0

## date_range()
- ##### pandas.date_range() is one of the general functions in Pandas which is used to return a fixed frequency DatetimeIndex.

In [ ]:
# Day wise
pd.date_range("27/03/2025", periods = 7) # output format: yyyy/mm/dd

DatetimeIndex(['2025-03-27', '2025-03-28', '2025-03-29', '2025-03-30',
               '2025-03-31', '2025-04-01', '2025-04-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Month wise
print(pd.date_range("03/27/2025", periods = 5, freq = "ME"))

DatetimeIndex(['2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30',
               '2025-07-31'],
              dtype='datetime64[ns]', freq='ME')

In [ ]:
#Month wise MS- Month start
print(pd.date_range("03/10/2025", periods = 5, freq = "MS"))

DatetimeIndex(['2025-04-01', '2025-05-01', '2025-06-01', '2025-07-01',
               '2025-08-01'],
              dtype='datetime64[ns]', freq='MS')

In [ ]:
# Year wise
print(pd.date_range("03/27/2025", periods = 6, freq="YE"))

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [ ]:
# Year wise
print(pd.date_range("01/08/2025", periods = 6, freq="YS"))

DatetimeIndex(['2026-01-01', '2027-01-01', '2028-01-01', '2029-01-01',
               '2030-01-01', '2031-01-01'],
              dtype='datetime64[ns]', freq='YS-JAN')

In [ ]:
#Create  a datetime datatype with specified intervals

start = pd.to_datetime("2025-1-1")    # (Y, M, D)
print("Start: ",start) #OR
# print(f"Start : {start}")

end = pd.to_datetime("2025-2-20")
print("End : ",end)

pd.date_range(start, end)

Start:  2025-01-01 00:00:00
End :  2025-02-20 00:00:00

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
               '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
               '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
               '2025-02-14', '2025-02-15', '2025-02-16', '2025-02-17',
               '2025-02-18', '2025-02-19', '2025-02-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#Creating a dataframe With date column

df = pd.DataFrame({
    "name" : ["MSD","Virat", "Rohith"],
    "DoB" : ["07-07-1981", "11-05-1988", "04-30-1987"]
})

In [ ]:
df

     name         DoB
0     MSD  07-07-1981
1   Virat  11-05-1988
2  Rohith  04-30-1987

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   DoB     3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [ ]:
df

     name        DoB
0     MSD 1981-07-07
1   Virat 1988-11-05
2  Rohith 1987-04-30

In [ ]:
#Converting date column as datetime column
df["DoB"] = pd.to_datetime(df["DoB"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   DoB     3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 180.0+ bytes

In [ ]:
df

     name        DoB
0     MSD 1981-07-07
1   Virat 1988-11-05
2  Rohith 1987-04-30

In [ ]:
#To get only year values in the date column
df["Year"] = df["DoB"].dt.year

In [ ]:
df

     name        DoB  month  day  Year
0     MSD 1981-07-07      7    7  1981
1   Virat 1988-11-05     11    5  1988
2  Rohith 1987-04-30      4   30  1987

In [ ]:
#To get only year values in the date column
df["month"] = df["DoB"].dt.month

In [ ]:
df

     name        DoB  month
0     MSD 1981-07-07      7
1   Virat 1988-11-05     11
2  Rohith 1987-04-30      4

In [ ]:
#To get only year values in the date column
df["day"] = df["DoB"].dt.day

In [ ]:
df

     name        DoB  month  day  Year
0     MSD 1981-07-07      7    7  1981
1   Virat 1988-11-05     11    5  1988
2  Rohith 1987-04-30      4   30  1987

In [ ]:
df["day_name"]=df["DoB"].dt.day_name()

In [ ]:
df

     name        DoB  month  day  Year  day_name
0     MSD 1981-07-07      7    7  1981   Tuesday
1   Virat 1988-11-05     11    5  1988  Saturday
2  Rohith 1987-04-30      4   30  1987  Thursday

In [ ]:
df["Month_name"]=df["DoB"].dt.month_name()

In [ ]:
df

     name        DoB  month  day  Year  day_name Month_name
0     MSD 1981-07-07      7    7  1981   Tuesday       July
1   Virat 1988-11-05     11    5  1988  Saturday   November
2  Rohith 1987-04-30      4   30  1987  Thursday      April

In [ ]:
df["Week_day"]=df["DoB"].dt.weekday
# Return the day of the week.
# It is assumed the week starts on Monday, which is denoted by 0
# and ends on Sunday which is denoted by 6.

In [ ]:
df

     name        DoB  month  day  Year  day_name Month_name  Week_day
0     MSD 1981-07-07      7    7  1981   Tuesday       July         1
1   Virat 1988-11-05     11    5  1988  Saturday   November         5
2  Rohith 1987-04-30      4   30  1987  Thursday      April         3

In [ ]:
#Checking the present year
today = pd.to_datetime("today")
today

Timestamp('2026-02-24 06:42:38.603248')

In [ ]:
today.year

2026

In [ ]:
today.month

2

In [ ]:
today.week
# Jan 2026 contains 5 weeks and 24th Feb comes in 4th week of Feb
# So in all 24th Feb comes in 9th week of the year

9

In [ ]:
today.weekday()

1

In [ ]:
today.month_name()

'February'

In [ ]:
#finding the difference between the present year and year in the dataframe
df

     name        DoB  month  day  Year  day_name Month_name  Week_day
0     MSD 1981-07-07      7    7  1981   Tuesday       July         1
1   Virat 1988-11-05     11    5  1988  Saturday   November         5
2  Rohith 1987-04-30      4   30  1987  Thursday      April         3

In [ ]:
today = pd.to_datetime("today")

In [ ]:
#    Age  = Current year -   Date of Birth
df["Age"] =   today.year - df["DoB"].dt.year
df

     name        DoB  month  day  Year  day_name Month_name  Week_day  Age
0     MSD 1981-07-07      7    7  1981   Tuesday       July         1   45
1   Virat 1988-11-05     11    5  1988  Saturday   November         5   38
2  Rohith 1987-04-30      4   30  1987  Thursday      April         3   39

In [ ]:
#Checking the present date and time

today = pd.to_datetime("today")
today

Timestamp('2026-02-24 06:52:47.370015')

In [ ]:
today.day_name()

'Tuesday'

# **Applying String Functions**

In [ ]:
df

     name        DoB  month  day  Year  day_name Month_name  Week_day  Age
0     MSD 1981-07-07      7    7  1981   Tuesday       July         1   45
1   Virat 1988-11-05     11    5  1988  Saturday   November         5   38
2  Rohith 1987-04-30      4   30  1987  Thursday      April         3   39

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   DoB         3 non-null      datetime64[ns]
 2   month       3 non-null      int32
 3   day         3 non-null      int32
 4   Year        3 non-null      int32
 5   day_name    3 non-null      object
 6   Month_name  3 non-null      object
 7   Week_day    3 non-null      int32
 8   Age         3 non-null      int32
dtypes: datetime64[ns](1), int32(5), object(3)
memory usage: 288.0+ bytes

In [ ]:
df["name"]=df["name"].str.upper()
df

     name        DoB  month  day  Year  day_name Month_name  Week_day  Age
0     MSD 1981-07-07      7    7  1981   Tuesday       July         1   45
1   VIRAT 1988-11-05     11    5  1988  Saturday   November         5   38
2  ROHITH 1987-04-30      4   30  1987  Thursday      April         3   39

In [ ]:
df["length"]=df["name"].str.len()
df

,name,DoB,month,day,Year,day_name,Month_name,Week_day,Age,length
0,MSD,1981-07-07,7,7,1981,Tuesday,July,1,45,3
1,VIRAT,1988-11-05,11,5,1988,Saturday,November,5,38,5
2,ROHITH,1987-04-30,4,30,1987,Thursday,April,3,39,6